__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
*.log
.pytest_cache/
testing/


AGENTS.md
CLAUDE.md
manifest.md
.claude/
.claudeignore
.codex
*.png
!nico/static/*.png
featureplan.txt
vorgaben.txt
vm-test.txt
asdf
config-vm
nixconfig/
nixconfig-für-import/
old/
Logos/
nico.desktop
